{% extends 'Project2/master.html' %}

{% load static %}

{% block extra_head_css %}
<link rel="stylesheet" href="{% static 'myglobal.css' %}">
{% endblock %}

{% block title %} Members List {% endblock %}

{% block content %}
<!--
<ul>
    {% for member in members_list %}
    <li>{{member.f_name}} {{member.l_name}}</li>
    {% endfor %}
</ul>-->
<table border="3">
    <caption>Members</caption>
    <thead>
        <tr>
            <th>S.No.</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members_list %}
        <tr>
            <td>{{member.id}}</td>
            <td>{{member.f_name}}</td>
            <td>{{member.l_name}}</td>
            <td>{{member.age}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p style='font-weight: bold;'>Members</p>
<ul>
    {% for member in members_list %}
    <li><a href="details/{{member.id}}">{{member.f_name}} {{member.l_name}}</a></li>
    {% endfor %}
</ul>
{% endblock %}