<!DOCTYPE html>
<html lang="en-IN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Me</title>
        <style>
            .sub_heading {
                font-size: 20px;
                font-weight: bold;
            }
            .content {
                font-size: 18px;
            }
        </style>
    </head>
    <body>
        <h1>Details about me</h1>
        <p class="sub_heading">Name:</p>
        <p class="content">Sathya Narayanan V</p>
        <p class="sub_heading">Age:</p>
        <p class="content">25</p>
        <p class="sub_heading"">Current Status:</p>
        <p class="content">Content Developer at Shankar IAS Academy and Looking for a career shift.</p>
        <p class="sub_heading"">Work History:</p>
        <p class="content">Had been prepared for banking exams while working in the company.</p>
        <p class="sub_heading"">Education:</p>
        <p class="content">Bachelor's degree in Mathematics</p>
    </body>
</html>