<!DOCTYPE html>
<html lang="en-IN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
        <style>
            h1 {
                text-align: center;
            } 
        </style>
    </head>
    <body>
        <h1> Welcome to my HTML Projects</h1>
        <h3>Click on the link below to go to the respective pages:</h3>
        <ul>
            <li><a href='welcome'>Hello World</a></li>
            <li><a href='project1'>Project 1</a></li>
            <li><a href='project2'>Project 2</a></li>
        </ul>
    </body>
</html>