<!DOCTYPE html>
<html lang="en-IN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Marks</title>
        <style>
            table, th, td, tr {
                border: 3px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <table>
            <caption>My Marks in 10th and 12th Std</caption>
            <tr>
                <th>Class</th>
                <th>Total</th>
                <th>Tamil</th>
                <th>English</th>
                <th>Maths</th>
                <th>Science</th>
                <th>Social</th>
                <th>Physics</th>
                <th>Chemistry</th>
                <th>Biology</th>
            </tr>

            <tr>
                <td>SSLC</td>
                <td>479</td>
                <td>95</td>
                <td>90</td>
                <td>100</td>
                <td>98</td>
                <td>96</td>
            </tr>

            <tr>
                <td>HSC</td>
                <td>1012</td>
                <td>192</td>
                <td>180</td>
                <td>178</td>
                <td></td>
                <td></td>
                <td>163</td>
                <td>151</td>
                <td>148</td>
            </tr>
        </table>
    </body>
</html>